
body {
	margin: 0;
}
.main {
	background: url(img/Background.png);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
}
.select {
	padding: 60px;
	
}
.select__title {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	color:  #FFFFFF;
}
.select__subtitle {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	color:  #FFFFFF;
	margin-top: -35px;
}
.selection {
	position: absolute;
}
.selection__level {
	display: flex;
	align-items: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	color:  #FFFFFF;		
}
.active {
	color: red;
}
.selection__level:before {
	display: block;
	margin-right: 20px;
	left: 0;
	top: 10px;
	content:"";
	background-color: transparent;	
    transform: rotate(45deg);
}
.active:before {
	display: block;
	content:"";
	background-color: red;	
    transform: rotate(45deg);
}
.selection__btn {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	color:  #FFFFFF;
	background: #D62B2E;
	border-radius: 7px;
}
.cards {
	position: absolute;
	padding: 20px;
	height: auto;
}

.cards__first {
	transform: rotate(11.9deg);
}
.cards__second {
	transform: rotate(39.26deg);
}

.game {
	display: flex;
	flex-wrap: wrap;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	perspective: 1000px;
}
.game__cards {
	position: relative;
	margin-right: 20px;
	margin-bottom: 20px;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}
.card__back {
	transform: rotateY(180deg);
}
.card__front, .card__back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}
.change-sides {
	transform: rotateY(180deg);
}
.game__cards:active {
 	filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));
 	transform: rotate(-3.08deg);
}
.hidden {
	display: none;
}
@media only screen and (min-width: 1367px) {
	.main {
		width: 1745px;
		height: 1164px;
	}
	.select__title {
		font-size: 57px;
		line-height: 67px;
	}
	.select__subtitle {
		font-size: 19px;
		line-height: 22px;
		margin-top: -35px;
	}
	.selection {
		position: absolute;
		padding-left: 60px;
	}
	.selection__level {
		font-size: 50px;
		line-height: 59px;	
	}
	.selection__btn {
		font-size: 32px;
		line-height: 37px;
		width: 352px;
		height: 95px;
		margin-top: 80px;
	}
	.cards__first, .cards__second {
		height: 341;
		width: 218;
	}
	.game__cards {
		width: 218px;
		height: 341px;
	}
	.cards {
		right: 200px;
		bottom: 150px;
		width: 600px;
	}
	.selection__level:before {
		width: 18px;
		height: 18px;
	}
	.active:before {
		width: 18px;
		height: 18px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1366px) {
	.main {
		width: 1366px;
		height: 1164px;
	}
	.select__title {
		font-size: 50px;
		line-height: 62px;
	}
	.select__subtitle {
		font-size: 17px;
		line-height: 25px;
		margin-top: -35px;
	}
	.select {
		padding-bottom: 0;
		padding-left: 50px;
	}
	.selection {
		padding-left: 50px;
	}
	.selection__level {
		font-size: 45px;
		line-height: 41px;		
	}
	.selection__btn {
		font-size: 39px;
		line-height: 23px;
		width: 290px;
		height: 88px;
		margin-top: 34px;
	}
	.cards__first, .cards__second {
		height: 300px;
		width: 188px;
	}
	.game__cards {
		width: 188px;
		height: 300px;
	}
	.cards {
		right: 245px;
		bottom: 296px;
		padding: 20px;
		width: 460px;
	}
	.selection__level:before {
		width: 15px;
		height: 15px;
	}
	.active:before {
		width: 15px;
		height: 15px;
	}
}
@media only screen and (min-width: 365px) and (max-width: 767px) {
	.main {
		width: 767px;
		height: 1164px;
	}
	.select__title {
		font-size: 46px;
		line-height: 58px;
	}
	.select__subtitle {
		font-size: 23px;
		line-height: 22px;
		margin-top: -23px;
	}
	.select {
		padding-bottom: 0;
		padding-left: 30px;
	}
	.selection {
		padding-left: 30px;
	}
	.selection__level {
		font-size: 44px;
		line-height: 39px;	
	}
	.selection__btn {
		font-size: 32px;
		line-height: 37px;
		width: 352px;
		height: 95px;
		margin-top: 27px;
	}
	.cards__first, .cards__second {
		height: 300;
		width: 200;
	}
	.game {
    	left: 24%;
    	top: 25%;
    	transform: translate(-14%, -19%);
}
	.game__cards {
		width: 172px;
		height: 291px;
	}
	.cards {
		right: 63px;
		bottom: 98px;
		padding: 20px;
		width: 500px;
	}
	.selection__level:before {
		width: 11px;
		height: 11px;
	}
	.active:before {
		width: 11px;
		height: 11px;
	}
}