
body {
	margin: 0;
}
.main {
	background: url(img/Background.png);
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100vh;
}
.select {
	padding: 60px;
	height: auto;
}
.select__title {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	color:  #FFFFFF;
}
.select__subtitle {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	color:  #FFFFFF;
	margin-top: -35px;
}
.section {
	display: flex;
	height: 100vh;
}
.selection {
	height: auto;
	position: relative;
	width: 50%;
}
.selection__level {
	display: flex;
	align-items: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	color:  #FFFFFF;		
}
.active {
	color: red;
}
.selection__level:before {
	display: block;
	margin-right: 20px;
	left: 0;
	top: 10px;
	content:"";
	background-color: transparent;	
    transform: rotate(45deg);
}
.active:before {
	display: block;
	content:"";
	background-color: red;	
    transform: rotate(45deg);
}
.selection__btn {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	color:  #FFFFFF;
	background: #D62B2E;
	border-radius: 7px;
}
.cards {
	width: 50%;
	height: auto;
	display: flex;
	position: relative;
	padding: 20px;
	justify-content: center;
    align-items: center;
}
.cards__first {
	transform: rotate(11.9deg);
}
.cards__second {
	transform: rotate(39.26deg);
}
.game {
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	perspective: 1000px;
}
.game__cards {
	position: relative;
	margin-right: 20px;
	margin-bottom: 20px;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}
.card__back {
	transform: rotateY(180deg);
}
.card__front, .card__back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}
.change-sides {
	transform: rotateY(180deg);
}
.game__cards:active {
 	filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));
 	transform: rotate(-3.08deg);
}
.hidden {
	display: none;
}
@media only screen and (min-width: 1367px) {
	.select__title {
		font-size: 57px;
		line-height: 67px;
	}
	.select__subtitle {
		font-size: 19px;
		line-height: 22px;
		margin-top: -35px;
	}
	.selection__level {
		font-size: 50px;
		line-height: 59px;	
	}
	.selection__btn {
		font-size: 32px;
		line-height: 37px;
		width: 352px;
		height: 95px;
		margin-top: 42px;
	}
	.cards__first, .cards__second {
		height: 341;
		width: 218;
	}
	.game__cards {
		width: 188px;
		height: 268px;
	}
	.game {
		max-width: 831px;
    	left: 47%;
    	top: 50%;
    	transform: translate(-50%, -50%);
	}
	.selection__level:before {
		width: 18px;
		height: 18px;
	}
	.active:before {
		width: 18px;
		height: 18px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1366px) {
	.select__title {
		font-size: 45px;
		line-height: 62px;
	}
	.select__subtitle {
		font-size: 17px;
		line-height: 25px;
		margin-top: -35px;
	}
	.select {
		padding-left: 50px;
		padding-right: 13px;
	}
	.selection__level {
		font-size: 45px;
		line-height: 41px;		
	}
	.selection {
		width: 40%;
	}
	.selection__btn {
		font-size: 39px;
		line-height: 23px;
		width: 268px;
		height: 88px;
		margin-top: 34px;
	}
	.cards {
		width: 55%;
	}
	.cards__first, .cards__second {
		height: 222px;
		width: 147px;
	}
	.game {
		max-width: 631px;
    	left: 34%;
    	top: 50%;
    	transform: translate(-25%, -50%);
   	}
	.game__cards {
		width: 138px;
    	height: 190px;
	}
	.selection__level:before {
		width: 15px;
		height: 15px;
	}
	.active:before {
		width: 15px;
		height: 15px;
	}
}
@media only screen and (min-width: 375px) and (max-width: 767px) {
	.select__title {
		font-size: 39px;
		line-height: 43px;
	}
	.select__subtitle {
		font-size: 23px;
		line-height: 22px;
		margin-top: -6px;
	}
	.select {
		padding-left: 30px;
		padding-top: 20px;
	}
	.selection {
		width: 100%;
	}
	.selection__level {
		font-size: 32px;
		line-height: 26px;	
	}
	.selection__btn {
		font-size: 30px;
		line-height: 37px;
		width: 241px;
		height: 95px;
		margin-top: 19px;
	}
	.game {
		max-width: 321px;
    	left: 42%;
    	top: 50%;
    	transform: translate(-34%, -50%);
	}
	.game__cards {
		width: 87px;
    	height: 112px;
	}
	.cards {
		display: none;
	}
	.selection__level:before {
		width: 11px;
		height: 11px;
	}
	.active:before {
		width: 11px;
		height: 11px;
	}
}
@media only screen and (min-width: 320px) and (max-width: 374px) {
	.select__title {
		font-size: 27px;
		line-height: 29px;
	}
	.select__subtitle {
		font-size: 15px;
		line-height: 18px;
		margin-top: -6px;
	}
	.select {
		padding-left: 17px;
		padding-top: 10px;
	}
	.selection {
		width: 100%;
	}
	.selection__level {
		font-size: 22px;
		line-height: 26px;	
	}
	.selection__btn {
		font-size: 24px;
		line-height: 37px;
		width: 197px;
		height: 59px;
		margin-top: 19px;
	}
	.game {
		max-width: 174px;
    	left: 41%;
    	top: 50%;
    	transform: translate(-32%, -50%);
	}
	.game__cards {
		width: 67px;
    	height: 89px;
	}
	.cards {
		display: none;
	}
	.selection__level:before {
		width: 11px;
		height: 11px;
	}
	.active:before {
		width: 11px;
		height: 11px;
	}
}